html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  background: url("images/pattern.svg");
  background-size: cover;
}

.headerForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  background: #FC6C43;
}

.mainForm {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.header h2 {
  margin: 0;
  color: #fff;
}
.header .cityInput{
  margin-left: auto;
  margin-right: 10px;
}
.mainForm h1 {
  font-size: 45px;
  color: #ffffff;
  font-weight: 200;
}
.cityInput {
  font-size: 14px;
  padding: 10px;
  border-radius: 7px;
}

.mainForm .cityInput{
  margin-bottom: 26px;
}

.citySubmit {
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 7px;
  background-color: #4CAE4C;
  outline-color: darkgreen;
}